* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px;
}

.textarea__text {
    width: 1200px;
    height: 400px;
    font-size: 40px;
}

.keyboard {
    width: 1200px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 3px 3px #3f0921;
    background: linear-gradient(
            270deg,
            rgb(71, 50, 70) 0%,
            rgb(119, 5, 180) 100%
        ),
        radial-gradient(rgba(57, 10, 10, 1) 0%, rgba(11, 5, 61, 1) 100%);
}

.keyboard__plate {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.6fr 1fr 2fr 1fr 1fr;
    row-gap: 8px;
}

.keyboard__line {
    width: 100%;
    height: calc(20%-40px);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.keyboard__line_first {
}

.keyboard__line_second {
    grid-template-columns: 0.65fr repeat(12, 1fr) 1.35fr;
}

.keyboard__line_third {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1.35fr repeat(12, 1fr) 1.35fr;
    height: calc(40%+10px);
    row-gap: 8px;
}

.keyboard__line_fourth {
    grid-template-columns: repeat(12, 1fr) 2fr;
}

.keyboard__line_fifth {
    grid-template-columns: repeat(2, 1fr) 2fr 6fr repeat(5, 1fr);
}

.keyboard__button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(90deg, #312323 0%, #332a2a 100%);
    box-shadow: 3px 3px 3px #0b160b;
}

.keyboard__button:hover {
    background-image: linear-gradient(90deg, rgba(49, 35, 35, 0.8) 0%, rgba(51, 42, 42, 0.8) 100%);
}

.keyboard__button:active {
    background-image: linear-gradient(270deg, #312323 0%, #332a2a 100%);
    box-shadow: 1px 1px 0 0 #0b160b inset, 0 -0.5px 0.5px 0 #0b160b inset;
}
